DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_OPENAI_CHANNEL_ID=
DISCORD_X_WATCH_CHANNEL_ID=
DISCORD_PENDING_CHANNEL_ID=
DISCORD_LOG_CHANNEL_ID=
DISCORD_APPLICATION_ID=
X_STREAM_ENABLED=false
X_BEARER_TOKEN=
